
<app-display-card>
    <section class = "card-header" >
        <span class = "card-title"> Recipient Bank Details </span> 
        
        <span class = "card-instruction"> Fill in the recipient's bank details </span>
      </section>
    
    <section  class = "card-content" >
<form [formGroup] = "recipientBankDetailsFormGroup" class="login_form_group">
   
  
    <section  style="font-size: 12px" class="account_details_inputs">

        <mat-form-field [style.width.px]=400  class="wire-transfer_details_input_item input-disabled">
            <mat-label>Bank Name</mat-label>
            <mat-select>
              <mat-option *ngFor="let acc of accounts.bankName" [value]="acc">
                {{acc}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field floatLabel="always" class="wire-transfer_details_input_item input-disabled" appearance="outline" [style.width.px]=327 > 
            <mat-label>Bank Address</mat-label>
            <input  name="bankAddress"  formControlName="bankAddress" [value]="recipientBankDetails.bankAddress" matInput  [attr.disabled]="'disabled'">
            <!-- <mat-error><mat-icon>error</mat-icon> &nbsp; Account Name is required</mat-error> -->
        </mat-form-field> 

 
        <mat-form-field [style.width.px]=400  class="wire-transfer_details_input_item input-disabled">
            <mat-label>Swift Code</mat-label>
            <mat-select>
              <mat-option *ngFor="let acc of accounts.accountNumbers" [value]="acc">
                {{acc}}
              </mat-option>
            </mat-select>
          </mat-form-field>

             <mat-form-field floatLabel="always"  class="wire-transfer_details_input_item" appearance="outline" [style.width.px]=500>
                <input  name="routingNumber" formControlName="routingNumber" [(ngModel)]="recipientBankDetails.routingNumber" matInput placeholder="ABA / Routing / Sort Code / Bank Code / IBAN Number / Transit Number">
              </mat-form-field>
    </section>
    <span class = "card-instruction">Does the above Bank use an Intermediary Bank for International transfers? </span>
    <section class = "card-radio-section" >
      <section class="card-radio">
            <mat-radio-button [color]="'primary'" value="Yes">Yes</mat-radio-button>
        </section>
        <section class="card-radio">
          <mat-radio-button [color]="'primary'"  value="No">No</mat-radio-button>
      </section>
</section>
  </form>
</section>
<section class="button-section">
   <app-button (trigger)="nextForm.emit(3)" [backgroundColor]="'#3b82f6'" [textColor]="'white'" [fontsize]="'11px'" [width]="'80px'" [height]="'30px'">
<!-- <img [src]="assetUrl+'/assets/svgs/arrow-left.svg'" alt="" srcset=""> -->
<span>Continue</span>
   </app-button>
   <app-button (trigger)="nextForm.emit(1)"  [backgroundColor]="'#dbeafe'" [textColor]="'#3b82f6'" [fontsize]="'11px'" [width]="'80px'" [height]="'30px'" [marginright]= "'7px'"  [fontweight]="'600'">
       <span>Previous</span>
              </app-button>
   <app-button  [backgroundColor]="'white'" [textColor]="'black'" [fontsize]="'11px'" [width]="'60px'" [bord]="'1.8px solid #e5e7eb'" [height]="'30px'" [marginright]= "'7px'"  [fontweight]="'600'">
       <!-- <img [src]="assetUrl+'/assets/svgs/arrow-left.svg'" alt="" srcset=""> -->
       <span>Cancel</span>
              </app-button>
</section>
</app-display-card>