.login_form_group{
    padding-top: 10px;
}
form{
    width : 100%;
  }

  .account_details_inputs{
    display: flex;
    flex-wrap: wrap;
  
    margin-bottom: 40px;
  }
  
 .wire-transfer_details_input_item{
    margin-left: 30px;
    margin-bottom: 9px;
  }

  .card-content{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    margin-top: 20px;
}  
.card-content::-webkit-scrollbar {
    display: none;
  }


  .card-header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e7eb;

}

  .card-title{
    font-weight: 600;
    margin-left: 32px;
    margin-top: 32px;
    font-family: Inter;
    font-size: 26px;
    
}
.card-instruction{
  font-weight: 600;
  font-size: 8px;
  margin-left: 35px;
  margin-top: 20px;
  font-family: Inter;
  font-size: 12px;
  margin-bottom: 5px;
}
.card-radio-section{
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  margin-left: 30px;
}
.card-radio{
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  width: 150px;
  margin-right: 20px;
}

.button-section{
    background-color: #f9fafb;
    border-radius: 0px 0px 10px 17px;
    border-top: 1px solid #e5e7eb;
    padding: 11px;
    display: flex;
    flex-direction: row-reverse;
}

