

    <app-display-card>

        <section  class = "card-content" >
            <span class = 'circle'><img [src]="assetUrl+'/assets/icons/confirm_circle.svg'" alt=""></span>
            <p class = "confirm-message-header">Application for a Wire Transfer has been successfully submitted</p>
            <p class = "confirm-message">Your Outward Telegraphic Transfer has been successfully submitted. Your transaction ID is 26322390605. You will receive an email confirmation once the transfer is successful. In the meantime, you can check the status of your transaction at any time by visiting the Customer Self Service Portal. Thank you!
                an invite.</p>
    </section>
    <section class="button-section">
       <app-button [backgroundColor]="'#3b82f6'" [textColor]="'white'" [fontsize]="'11px'" [width]="'80px'" [height]="'30px'">
    <!-- <img [src]="assetUrl+'/assets/svgs/arrow-left.svg'" alt="" srcset=""> -->
    <span>Done</span>
       </app-button>
    </section>
    </app-display-card>