:host {
    --login-form-width: 100%;
    --login-form-height: 100%;
    --navigation-stepper-height: 70px;
  }



  .notice-heading {
    padding: 20px;
    text-align: center;
  }
  
  .main-content-body {
    width: 100%;
    padding: 10px 0px 0px 0px;
    box-sizing: border-box;
  }
  
  .main-account-details-container {
    width: 100%;
  }
  .nav-items{
    overflow-y: scroll;
  }
  .nav-items::-webkit-scrollbar {
    display: none;
    }
    
  .nav-item{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 13px;
    
  }
  .nav-item p{

    margin-top: 6px;
    margin-left: 10px;
    font-family: Inter;
    font-size:11px;
  }
  .nav-item img{
    height: 30px;
  }
  
  .main-forms-content {
  
 
    width: 94%;
    height: calc(103vh - var(--dashboard-header-height) - var(--navigation-stepper-height) - var(--dashboard-sub-header-height));
    margin-left: 25px; 
    margin-top: 15px;


  }
  
  
  /** STEPPER NAVIGATOR **/
  .stepper-navigator {
    // background-color: orange;
    height: var(--navigation-stepper-height);
  
    width: 100%;
  
    display: flex;
  
    // justify-content: flex-end;
    // align-items: center;
    padding-left: var(--dashboard-content-padding);
    padding-right: var(--dashboard-content-padding);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  .stepper-navigator app-buttton{
    margin-top: 10px;
    background-color: #0062e1;
  }
  
  .back-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    margin: 0px 10px;
    gap: 8px;
    width: 75px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }
  
  .continue-button, .submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 91px;
    height: 38px;
    background: #0062E1;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  
  // MAT FORM FIELD  CSS
  // mat-icon-stepper selected color change
  ::ng-deep .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: red !important;
  }
  
  //input outline color
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #5C6C80 !important;
    // opacity: 1!important;
  }
  
  //mat-input focused color
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0062E1 !important;
  }
  
  // mat-input error outline color
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #DC0A0A !important;
    opacity: 0.8 !important;
  }
  
  // mat-input carent color
  ::ng-deep .mat-input-element {
    caret-color: red !important;
  }
  
  // mat-input error carent color
  ::ng-deep .mat-form-field-invalid .mat-input-element,
  .mat-warn .mat-input-element {
    caret-color: #DC0A0A !important;
  }
  
  // mat-label normal state style
  ::ng-deep .mat-form-field-label {
    color: #5C6C80 !important;
    // color: $mainColor!important;
  }
  
  // mat-label focused style
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #0033AA !important;
  }
  
  // mat-label error style
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
  }
  
  
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
  }
  
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px;
    padding: 0.75em 0.75em 0 0.75em;
    border: 1px solid #f94747;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  
  
    .underline {
      text-decoration: underline;
      color: #0033A1;
    }
  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
  

  * {
    --stepper-circle-width: 20px;
    --stepper-circle-height: 20px;
    --stepper-divider-height: 2px;
    --stepper-divider-width: 35px;
    --stepper-divider-offset: 0px;
  }
  
  :host {
    width: fit-content;
    height: fit-content;
    flex: 0;
  }
  
  .main-stepper-container {
    padding: 20px;
  }
  
  .circle-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 38px;
    height: 38px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 999px;
  
    span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.005em;
      color: #1f2937;
    }
  }
  
  .icon-tab-complete {
    display: none;
  }
  
  .checkmark {
    width: 20px;
    height: 20px;
  }
  
  .icon-tab-complete-active {
    display: block;
    
  }
  
  .circle-tab-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 38px;
    height: 38px;
    background: #0033aa;
    border-radius: 999px;
  }
  
  .circle-tab-recently-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 38px;
    height: 38px;
    background: #00af43;
    border-radius: 999px;
  }
  .circle {
    width: var(--stepper-circle-width);
    height: var(--stepper-circle-height);
  
    border-radius: 50%;
  
    // background-color: red;
    // margin-right: 10px;
  }
  
  .in_progress_stepper {
    // background: linear-gradient(93.67deg, #00BFFF 1.23%, #006EFC 58.64%);
  
    background-color: grey;
  }
  
  .completed_stepper {
    background: linear-gradient(93.67deg, #00bfff 1.23%, #006efc 58.64%);
  }
  
  .stepper-divider {
    width: var(--stepper-divider-width);
    height: var(--stepper-divider-height);
  
    background-color: #d1d5db;
    // margin-left: calc(var( --stepper-circle-height)/2 - var(--stepper-divider-offset));
    margin: 20px 7px;
    // margin-top: -2px;
    z-index: 0;
  }
  
  .stepper-divider-complete {
    width: var(--stepper-divider-width);
  
    height: var(--stepper-divider-height);
  
    background-color: #01a4fe;
    // margin-left: calc(var( --stepper-circle-height)/2 - var(--stepper-divider-offset));
  
    // margin-top: -2px;
  
    z-index: 0;
  }
  
  .stepper-divider-complete:first-child {
  }
  
  .stepper-progress-container {
    // width: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background: linear-gradient(90deg, #196ff7 8.23%, #1947b2 86.64%);
    align-items: center;
    padding-left: 28px;
  }

  .stepper-header{
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 34px;
    margin-left: 20px;
    width: 15%;
  }
  .stepper-steps{
    margin-left: -10px;
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  .stepper-progress-circle {
    display: flex;
    align-items: center;
  
    // margin-top: -2px;
  
    cursor: pointer;
  }
  
  .activated-step {
    border-radius: 10px 0px 0px 10px;
    color: white;
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    .circle-tab {
      width: 30px;
      height: 30px;
    }
  
    .main-stepper-container {
      padding: 5px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .circle-tab {
      width: 26px;
      height: 26px;
    }
  
    .main-stepper-container {
      padding: 5px;
    }
  }
  
  @media screen and (max-width: 580px) {
    .stepper-divider {
      margin: 0px 10px;
      width: 15px;
    }
  }
  